.App {
  font-family: sans-serif;
  text-align: center;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  text-align: center;
}


.inputMessage {
  width: 464px;
  height: 644px;
  background: #F2F2F2;
  padding: 22px;
}

.textarea {
  text-align: left;
  height: 456px;
  overflow-y: auto;
}

.textarea:focus-visible {
    outline: none;
}

.input-footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.nickname {
  cursor: pointer;
}

.last-num {
  font-family: PingFang SC;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;

}

.line {
height: 1px;
width: 100%;
/* left: 12px;
right: 12px;
top: 510px; */

background: #D9D9D9;
}

.messagePreview {
  margin-left: 40px;
  width: 375px;
  height: 644px;
  background: #F2F2F2;
  white-space:pre-wrap;
  text-align: left;
  word-break: break-all;
}

[contentEditable=true]:empty:not(:focus):before {
  color: red;
  content: attr(placeholder)
}